# Byte-compiled / optimized / DLL files
__pycache__/
.history/
*.py[cod]
*$py.class

# C extensions
*.so

# VS 2017 Project Files
*.pyproj
*.sln
.vs/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/source/modelref.rst
docs/source/configref.rst
docs/source/groupdoc
docs/source/_examples
docs/build/
docs/jupyter_execute/
docs/source/_build/
_generated

# Generated model/config reference docs
docs/source/reference/models/
docs/source/reference/config.rst

# pytest
.pytest_cache/

# PyBuilder
target/

# Editor files
#mac
.DS_Store
*~

#vim
*.swp
*.swo

# pycharm
.idea/*

# vscode
.vscode/*

# Ipython Notebook
.ipynb_checkpoints

# Andes dat and lst files
andes/cases/*/*.txt
*.dat
*.lst
*.npy
*.npz
*.prof

# ASV benchmark envs
benchmarks/.asv
benchmarks/andes

# generated pycode
andes/pycode

# setuptools-scm generated version file
andes/_version.py

# testfile
icebar

# example excel files cache
~$*.xlsx