include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE
include README.md
include requirements.txt
include requirements-dev.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include andes/cases *.xlsx *.m *.raw *.dyr *.py *.json
recursive-include docs *.rst *.png conf.py Makefile make.bat
recursive-include tests *.pkl
recursive-include examples *.ipynb

include versioneer.py
include andes/_version.py
include andes/io/psse-dyr.yaml
include andes/io/psse-modes.yaml

# If including data files in the package, add them like:
# include path/to/data_file
