# These are required for developing the package (running the tests, building
# the documentation) but not necessarily required for _using_ it.
codecov
coverage
pytest==7.0.1
flake8
sphinx
# These are dependencies of various sphinx extensions for documentation.
ipython
numpydoc
sphinx-copybutton
sphinx-panels
sphinx_rtd_theme==0.5.2
pydata-sphinx-theme
myst-parser
myst-nb
pre-commit