kvxopt>1.2.5
numpy
scipy
sympy>=1.6,<1.9
pandas
matplotlib
openpyxl
xlsxwriter
dill
pathos
tqdm
pyyaml
coloredlogs
psutil
ipython
numpydoc
sphinx-copybutton
sphinx_rtd_theme==0.5.2
docutils<0.18
myst-parser
myst-nb
