cvxopt>=1.2.5
numpy
scipy
sympy
pandas
matplotlib
openpyxl
xlsxwriter
dill
pathos
tqdm
pyyaml
coloredlogs
chardet
kvxopt
codecov
coverage
pytest
flake8
sphinx
ipython
numpydoc
sphinx-copybutton
sphinx_rtd_theme
